body{
    background-image:url("background1.jpg");
}

.heading{
    width: 100%;
    text-align: left;
    font-size: 30px;
}
.heading button{
    float: right;
    border: 1px solid white;
}

#start, #status{
    font-size: 25px;
}

.big_image{
    width: 100%;
}

.heading h3{
    display: inline;

}

canvas{
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px white; 
}
